@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 0 11% 40%; /* #725556 */
    --primary-foreground: 0 0% 98%;

    --secondary: 345 17% 48%; /* #865C69 */
    --secondary-foreground: 0 0% 98%;

    --muted: 26 25% 93%; /* #ECE8E6 */
    --muted-foreground: 217 8% 49%; /* #7A8084 */

    --accent: 345 17% 48%; /* #865C69 */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 26 25% 93%; /* #ECE8E6 */
    --input: 26 25% 93%; /* #ECE8E6 */
    --ring: 0 11% 40%; /* #725556 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .animated-gradient {
    background: linear-gradient(
      45deg,
      theme("colors.rune.coolGray"),
      theme("colors.rune.paleDogwood"),
      theme("colors.rune.cadetGray"),
      theme("colors.rune.roseQuartz")
    );
    background-size: 200% 200%;
    animation: gradient-shift 3s ease infinite;
  }
}

@keyframes gradient-shift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

